@charset "UTF-8";

*{
	color:#3A2618;
	font-size:15px;
}
.join-wrapper{
	position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    width:450px;
    margin: 0 auto;
    padding-left:35px;
}
h1{
	padding: 40px;
	font-size: 30px;
	color:#3A2618;
}
:root {
  --padding: 80px;
}

.index{
	display: inline-block;
	position:relative;
	width: 80px;
}
.email_auth{
	display: inline-block;
}
.mail-check-box{
	padding-left: 83px;
}
.mail-check-warn{
	padding-left: 83px;
}

input[type='text'], input[type='password'], .mail-check-input{
	margin-bottom: 15px;
	height: 24px;
	border: none;
	border-bottom: 1px solid #3A2618;
	width:250px;
}
input:focus{
	outline: none;
}
input[type='radio']{
	width:20px;
	height:15px;
	margin:10px;
	margin-bottom: 20px;
}
.email_auth_btn{
	 border: 1px solid #3A2618;
	 background-color: #3A2618;
	 color: #ffffff;
	 cursor : pointer;
}
#sample6_extraAddress{
	display: block;
	margin-left:83px;
}


.final_id_ck{
    display: none;
}
.final_pw_ck{
    display: none;
}
.final_name_ck{
    display: none;
}
.final_mail_ck{
    display: none;
}
.final_addr_ck{
    display: none;
}
.final_phone_ck{
	display: none;
}

.final_id_ck, .final_pw_ck, .final_name_ck, .final_mail_ck, .final_phone_ck, .final_addr_ck{
	margin-left:85px;
}
#sample6_postcode{
	width:80px;
}
.saerch{
	border: 2px solid #3A2618;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #3A2618;
	color: #ffffff;
	cursor : pointer;
}

#mail-check-warn{
	padding-left:85px;
}

#join_button{
	border: 2px solid #3A2618;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #3A2618;
	color: #ffffff;
	cursor : pointer;
}
.result{
	padding-left:120px;
	margin-top: 30px;
}
#cancel{
	border: 1px solid #3A2618;
	padding-left: 6px;
	padding-right: 6px;
	background-color: #3A2618;
	color: #ffffff;
	margin:10px;
	cursor : pointer;
}