<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="QnaMapper">
	<resultMap type="Qna" id="QnaResultMap">
		<id 	property="qnaNo"				column="QNA_NUMBER" />
		<result property="qnaWriter" 			column="USER_ID" />
		<result property="qnaTitle" 			column="QNA_TITLE" />
		<result property="qnaContent" 			column="QNA_CONTENT" />
		<result property="qnaCreateDate" 		column="QNA_CREATEDATE" />
		<result property="qnaUpdateDate" 		column="QNA_UPDATEDATE" />
		<result property="qnaFilename" 			column="QNA_FILENAME" />
		<result property="qnaFileRename" 		column="QNA_FILERENAME" />
		<result property="qnaFilePath" 			column="QNA_FILEPATH" />
		<result property="qnaViewCount" 		column="QNA_VIEWCOUNT" />
		<result property="qnaTypeNo" 			column="QNA_TYPENUMBER" />
		<result property="qnaSecret" 			column="QNA_SECRET" />
		<result property="qnaIsAnswered" 		column="QNA_ISANSWERED" />
		<result property="qnaAnswerTitle" 		column="ANSWER_TITLE" />
		<result property="qnaAnswerContent" 	column="ANSWER_CONTENT" />
	</resultMap>
	<insert id="insertQna">
		INSERT INTO QNA_TBL(
		QNA_NUMBER,
		USER_ID,
		QNA_TITLE,
		QNA_CONTENT,
		QNA_CREATEDATE,
		QNA_UPDATEDATE,
		QNA_FILENAME,
		QNA_FILERENAME,
		QNA_FILEPATH,
		QNA_VIEWCOUNT,
		QNA_TYPENUMBER,
		QNA_SECRET,
		QNA_ISANSWERED,
		ANSWER_TITLE,
		ANSWER_CONTENT,
		ORIGIN_NO,
		GROUP_ORDER,
		GROUP_LAYER
		)VALUES(
		SEQ_QNANO.NEXTVAL,
		#{qnaWriter},
		#{qnaTitle},
		#{qnaContent},
		DEFAULT, 
		DEFAULT, 
		#{qnaFilename},
		#{qnaFileRename},
		#{qnaFilePath}, 
		DEFAULT, 
		#{qnaTypeNo},
		#{qnaSecret},
		#{qnaIsAnswered},
		#{qnaAnswerTitle},
		#{qnaAnswerContent},
		#{originNo},
		#{groupOrder},
		#{groupLayer} )
	</insert>
	
	<update id="updateQna">
		UPDATE QNA_TBL SET 
		QNA_TITLE = #{qnaTitle},
		QNA_CONTENT = #{qnaContent}, 
		QNA_FILENAME = #{qnaFilename},
		QNA_FILERENAME = #{qnaFileRename}, 
		QNA_FILEPATH = #{qnaFilePath},
		QNA_UPDATEDATE = DEFAULT
		WHERE QNA_NUMBER = #{qnaNo}
	</update>

	<delete id="deleteQna">
		DELETE FROM QNA_TBL 
		WHERE QNA_NUMBER = #{qnaNo}
	</delete>

	<update id="updateCount">
		UPDATE QNA_TBL
		SET
		QNA_VIEWCOUNT = QNA_VIEWCOUNT + 1
		WHERE
			QNA_NUMBER = #{qnaNo}
	</update>

	<select id="selectAllQna" resultMap="QnaResultMap">
		SELECT * FROM QNA_TBL ORDER BY QNA_NUMBER DESC
	</select>

	 <select id="selectTotalCount" resultType="_int">
   SELECT COUNT(*) FROM QNA_TBL 
    <where>
   <if test="searchCondition.toString() == 'title'">
      QNA_TITLE LIKE '%'||#{searchValue}||'%' 
   </if>
   <if test="searchCondition.toString() == 'contents'">
      QNA_CONTENT LIKE '%'||#{searchValue}||'%' 
   </if>
   <if test="searchCondition.toString() == 'writer'">
      USER_ID LIKE '%'||#{searchValue}||'%' 
   </if>
   <if test="searchCondition.toString() == 'all'">
      QNA_TITLE LIKE '%'||#{searchValue}||'%' 
      OR QNA_CONTENT LIKE '%'||#{searchValue}||'%' 
      OR USER_ID LIKE '%'||#{searchValue}||'%' 
   </if>

   </where>
   </select>

	<select id="selectOneByNo" resultMap="QnaResultMap">
		SELECT * FROM QNA_TBL
		WHERE QNA_NUMBER = #{qnaNo}
	</select>
	
	<select id="selectAllByValue" resultMap="QnaResultMap">
		SELECT * FROM QNA_TBL
		<where>
			<if test="searchCondition.toString() == 'title'">
				QNA_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				QNA_CONTENT LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'writer'">
				USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				QNA_TITLE LIKE '%'||#{searchValue}||'%'
				OR QNA_CONTENT
				LIKE '%'||#{searchValue}||'%'
				OR USER_ID LIKE
				'%'||#{searchValue}||'%'
			</if>
			ORDER BY QNA_NUMBER DESC
		</where>
	</select>
	
	
	<resultMap type="Reply" id="replyResultMap">
		<id property="qnaReplyNo" 				column="QNA_REPLY_NUMBER" />
		<result property="refQnaNo" 			column="REF_QNA_NUMBER" />
		<result property="qnaReplyContent" 		column="QNA_REPLY_CONTENTS" />
		<result property="qnaReplyWriter" 		column="QNA_REPLY_WRITER" />
		<result property="qnaReplyCreateDate"	column="REPLY_CREATE_DATE" />
		<result property="qnaReplyUpdateDate"	column="REPLY_UPDATE_DATE" />

	</resultMap>
	<insert id="insertReply">
		INSERT INTO QNA_REPLY_TBL
		(
		QNA_REPLY_NUMBER,
		REF_QNA_NUMBER,
		QNA_REPLY_CONTENTS,
		QNA_REPLY_WRITER,
		REPLY_CREATE_DATE,
		REPLY_UPDATE_DATE
		)VALUES(
		SEQ_QNAREPLYNO.NEXTVAL,
		#{refQnaNo}, 
		#{qnaReplyContent}, 
		#{qnaReplyWriter}, 
		DEFAULT, 
		DEFAULT)
	</insert>
	<update id="modifyReply">
		UPDATE
		    QNA_REPLY_TBL
		SET
		    QNA_REPLY_CONTENTS =#{qnaReplyContent},
		    REPLY_UPDATE_DATE = DEFAULT
		WHERE
			QNA_REPLY_NUMBER = #{qnaReplyNo}
	</update>
	<delete id="deleteReply">
		DELETE FROM QNA_REPLY_TBL WHERE QNA_REPLY_NUMBER = #{qnaReplyNo }
	</delete>
	<select id="selectAllReply" resultMap="replyResultMap">
		SELECT * FROM QNA_REPLY_TBL
		WHERE REF_QNA_NUMBER = #{refQnaNo} 
	</select>
</mapper>