<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="qnaMapper">
	<resultMap type="Qna" id="QnaResultMap">
		<id 	property="qnaNo" 				column="QNA_NUMBER" />
		<result property="qnaWriter" 			column="USER_ID"/>
		<result property="qnaTitle" 			column="QNA_TITLE"/>
		<result property="qnaContent" 			column="QNA_CONTENT"/>
		<result property="qnaCreateDate"		column="QNA_CREATEDATE"/>
		<result property="qnaUpdateDate" 		column="QNA_UPDATEDATE"/>
		<result property="qnaFilename" 			column="QNA_FILENAME"/>
		<result property="qnaFileRename" 		column="QNA_FILERENAME"/>
		<result property="qnaFilePath" 			column="QNA_FILEPATH"/>
		<result property="qnaViewCount" 		column="QNA_VIEWCOUNT"/>
		<result property="qnaTypeNo" 			column="QNA_TYPENUMBER"/>
		<result property="qnaSecret" 			column="QNA_SECRET"/>
		<result property="qnaIsAnswered" 		column="QNA_ISANSWERED"/>
		<result property="qnaAnswerTitle" 		column="ANSWER_TITLE"/>
		<result property="qnaAnswerContent" 	column="ANSWER_CONTENT"/>
	</resultMap>
	<insert id="insertQna">
		INSERT INTO QNA_TBL
		VALUES(SEQ_QNANO.NEXTVAL,#{qnaTitle},#{boardContents},#{boardWriter},#{boardFilename},#{boardFileRename},#{boardFilepath}, DEFAULT, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<update id="updateQna">
		UPDATE BOARD_TBL SET BOARD_TITLE = #{boardTitle}, BOARD_CONTENTS = #{boardContents}, BOARD_FILENAME = #{boardFilename }, BOARD_RENAME = #{boardFileRename}, BOARD_FILEPATH = #{boardFilepath}, B_UPDATE_DATE = DEFAULT
		WHERE BOARD_NO = #{boardNo}
	</update>
	<delete id="deleteQna">
		DELETE FROM BOARD_TBL WHERE BOARD_NO = #{boardNo}
	</delete>
	<update id="updateCount">
		UPDATE BOARD_TBL SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{boardNo}
	</update>
	<select id="selectAllQna" resultMap="QnaResultMap">
		SELECT * FROM BOARD_TBL 
	</select>
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM BOARD_TBL 
		<where>
			<if test="searchCondition.toString() == 'title'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				BOARD_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'writer'">
				BOARD_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%'
				OR BOARD_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR BOARD_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			AND B_STATUS = 'Y'
		</where>
	</select>
	<select id="selectOneByNo" resultMap="QnaResultMap">
		SELECT * FROM BOARD_TBL WHERE BOARD_NO = #{boardNo } 
	</select>
	<select id="selectAllByValue" resultMap="QnaResultMap">
		SELECT * FROM BOARD_TBL 
		<where>
			<if test="searchCondition.toString() == 'title'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'contents'">
				BOARD_CONTENTS LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'writer'">
				BOARD_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				BOARD_TITLE LIKE '%'||#{searchValue}||'%'
				OR BOARD_CONTENTS LIKE '%'||#{searchValue}||'%'
				OR BOARD_WRITER LIKE '%'||#{searchValue}||'%'
			</if>
			AND B_STATUS = 'Y'
		</where>
	</select>
	<!-- 댓글관리 -->
	<resultMap type="Reply" id="replyResultMap">
		<id 	property="qnaReplyNo" 				column="QNA_REPLY_NUMBER" />
		<result property="refQnaNo" 				column="REF_QNA_NUMBER" />
		<result property="qnaReplyContent" 			column="QNA_REPLY_CONTENTS" />
		<result property="qnaReplyWriter" 			column="QNA_REPLY_WRITER" />
		<result property="qnaReplyCreateDate" 		column="REPLY_CREATE_DATE" />
		<result property="qnaReplyUpdateDate" 		column="REPLY_UPDATE_DATE" />
		
	</resultMap>
	<insert id="insertReply">
		INSERT INTO REPLY_TBL VALUES(SEQ_REPLY_NO.NEXTVAL, #{refBoardNo}, #{replyContents}, #{replyWriter}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	<update id="modifyReply">
		UPDATE REPLY_TBL SET REPLY_CONTENTS = #{replyContents}, R_UPDATE_DATE = DEFAULT WHERE REPLY_NO = #{replyNo}
	</update>
	<delete id="deleteReply">
		DELETE FROM REPLY_TBL WHERE REPLY_NO = #{replyNo }
	</delete>
	<select id="selectAllReply" resultMap="replyResultMap">
		SELECT * FROM REPLY_TBL 
		WHERE REF_BOARD_NO = #{refBoardNo} AND R_STATUS = 'Y'
	</select>
</mapper>