<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ReviewMapper">
  		<resultMap type="Review" id="reviewResultMap">
  			<id property="reviewNo" column="REVIEW_NO"/>
  			<result property="userId" column="USER_ID"/>
  			<result property="storeNo" column="STORE_NO"/>
  			<result property="starRating" column="STAR_RATING"/>
  			<result property="reviewCount" column="REVIEW_COUNT"/> 
  			<result property="rCreateDate" column="R_CREATE_DATE"/>
  			<result property="reviewContents" column="REVIEW_CONTENT"/>
  			<result property="useYn" column="USE_YN"/>
  			<result property="rUpdateDate" column="R_UPDATE_DATE"/>
  		</resultMap>
  		<!-- <resultMap type="Review" id="reviewHeartResultMap">
  			<id property=""
  		</resultMap> -->
  			
  		<insert id="insertReview">
  			INSERT INTO REVIEW_TBL(REVIEW_NO, USER_ID, STORE_NO,
			    STAR_RATING, REVIEW_COUNT, R_CREATE_DATE,
			    REVIEW_CONTENT, USE_YN, R_UPDATE_DATE)
			    VALUES(SEQ_REVIEW_NO.NEXTVAL, #{userId}, #{storeNo}, #{starRating}, 0, SYSDATE, #{reviewContents} , 'Y', SYSDATE);
  		</insert>
  		<!--  리뷰 검색 -->
  		<select id="selectOneByNo" resultMap="reviewResultMap">
  			SELECT * FROM REVIEW_TBL WHERE REVIEW_NO = #{reviewNo}
  		</select>
  		<select id="selectAllReview" resultMap="reviewResultMap">
  			SELECT * FROM REVIEW_TBL WHERE USE_YN = 'Y' ORDER BY REVIEW_NO DESC
  		</select>
  		<select id="selectTotalCount" resultType="_int">
  			SELECT COUNT(*) FROM REVIEW_TBL WHERE USE_YN = 'Y'
  		</select>
  		<update id="updateCount">
  			UPDATE REVIEW_TBL SET REVIEW_COUNT = REVIEW_COUNT +1 WHERE REVIEW_NO = #{reviewNo}
  		</update>
  </mapper>
  