<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ReviewMapper">
  		<resultMap type="Review" id="reviewResultMap">
  			<id property="reviewNo" column="REVIEW_NO"/>
  			<result property="userId" column="USER_ID"/>
  			<result property="storeNo" column="STORE_NO"/>
  			<result property="reviewTitle" column="REVIEW_TITLE"/>
  			<result property="StarRating" column="STAR_RATING"/>
  			<result property="ReviewCount" column="REVIEW_COUNT"/>
  			<result property="reviewDate" column="REVIEW_DATE"/>
  			<result property="reviewContents" column="REVIEW_CONTENT"/>
  			<result property="HeartConut" column="HEART_COUNT"/>
  			<result property="reviewStatus" column="REVIEW_STATUS"/>
  		</resultMap>
  		<resultMap type="Review" id="reviewHeartResultMap">
  		<!-- 	<id property="" -->
  		</resultMap>
  		
  		
  		<!--  리뷰 검색 -->
  		<select id="selectOneByNo" resultMap="reviewResultMap">
  			SELECT * FROM REVIEW_TBL WHERE REVIEW_NO = #{reviewNo}
  		</select>
  		
  		<update id="updateCount">
  			UPDATE REVIEW_TBL SET REVIEW_COUNT = REVIEW_COUNT +1 WHERE REVIEW_NO = #{reivewNo}
  		</update>
  </mapper>
  