<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
	<resultMap type="Store" id="storeResultMap">
		<id property="storeNo" column="STORE_NO"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="storeZipCode" column="STORE_ZIPCODE"/>
		<result property="storeAddr" column="STORE_ADDR"/>
		<result property="storeAddrDetail" column="STORE_ADDR_DETAIL"/>
		<result property="storeCeo" column="STORE_CEO"/>
		<result property="storeTel" column="STORE_TEL"/>
		<result property="storeUrl" column="STORE_URL"/>
		<result property="storeAccount" column="STORE_ACCOUNT"/>
		<result property="storeStatus" column="STORE_STATUS"/>
		<result property="storeBank" column="STORE_BANK"/>
		<result property="storeUpdateDate" column="STORE_UPDATE_DATE"/>
		<collection property="sImage" resultMap="storeImageResultMap"/>
	</resultMap>
	
	<resultMap type="StoreImage" id="storeImageResultMap">
		<id property="refStoreNo" column="REF_STORE_NO"/>
		<result property="storeFilename" column="STORE_FILENAME"/>
		<result property="storeFileRename" column="STORE_FILERENAME"/>
		<result property="storeFilepath" column="STORE_FILEPATH"/>
	</resultMap>
	<insert id="insertStore">
	INSERT INTO STORE_TBL VALUES(SEQ_STORE_NO.NEXTVAL,#{storeName},#{storeZipCode},#{storeAddr},
	#{storeAddrDetail},#{storeCeo},#{storeTel},#{storeUrl},#{storeAccount},DEFAULT,#{storeBank},DEFAULT)
		<selectKey keyProperty="storeNo" resultType="int" order="AFTER">
		SELECT SEQ_STORE_NO.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	<insert id="insertStoreImage">
	INSERT INTO STORE_IMAGE_TBL VALUES(#{refStoreNo}, #{storeFilename}, #{storeFileRename}, #{storeFilepath})
	</insert>
	<update id="deleteStore">
	UPDATE STORE_TBL SET STORE_STATUS = 'N' WHERE STORE_NO = #{storeNo}
	</update>
	<update id="updateStore">
	UPDATE STORE_TBL SET STORE_NAME = #{storeName}, STORE_ZIPCODE = #{storeZipCode}, STORE_ADDR = #{storeAddr},
	STORE_ADDR_DETAIL = #{storeAddrDetail}, STORE_CEO = #{storeCeo}, STORE_TEL = #{storeTel}, STORE_URL = #{storeUrl},
	STORE_ACCOUNT = #{storeAccount},STORE_BANK =#{storeBank}, STORE_UPDATE_DATE = DEFAULT WHERE STORE_NO = #{storeNo}
	</update>
	<update id="updateStoreImage">
	UPDATE STORE_IMAGE_TBL SET STORE_FILENAME = #{storeFilename}, STORE_FILERENAME = #{storeFileRename}, STORE_FILEPATH = #{storeFilepath}
	WHERE REF_STORE_NO = #{refStoreNo}
	</update>
	<select id="selectAllStore" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL LEFT JOIN STORE_IMAGE_TBL ON STORE_NO = REF_STORE_NO WHERE STORE_STATUS = 'Y' ORDER BY STORE_NO DESC
	</select>
	<select id="selectStoreByNo" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL LEFT JOIN STORE_IMAGE_TBL ON STORE_NO = REF_STORE_NO WHERE STORE_NO = #{storeNo} AND STORE_STATUS = 'Y'
	</select>
	<select id="selectTotalCount" resultType="_int">
	SELECT COUNT(*) FROM STORE_TBL
		<where>
			<if test="searchCondition.toString() == 'all'">STORE_NAME LIKE '%'||#{searchValue}||'%' OR STORE_ADDR LIKE '%'||#{searchValue}||'%'</if>
			<if test="searchCondition.toString() == 'name'">STORE_NAME LIKE '%'||#{searchValue}||'%'</if>
			<if test="searchCondition.toString() == 'region'">STORE_ADDR LIKE '%'||#{searchValue}||'%'</if>
	AND STORE_STATUS = 'Y' 
		</where>
	</select>
	<select id="selectSearchedList" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL LEFT JOIN STORE_IMAGE_TBL ON STORE_NO = REF_STORE_NO
		<where>
			<if test="searchCondition.toString() == 'all'">STORE_NAME LIKE '%'||#{searchValue}||'%' OR STORE_ADDR LIKE '%'||#{searchValue}||'%'</if>
			<if test="searchCondition.toString() == 'name'">STORE_NAME LIKE '%'||#{searchValue}||'%'</if>
			<if test="searchCondition.toString() == 'region'">STORE_ADDR LIKE '%'||#{searchValue}||'%'</if>
	AND STORE_STATUS = 'Y' ORDER BY STORE_NO DESC
		</where>
	</select>
	<select id="selectSortCount" resultType="_int">
	SELECT COUNT(*) FROM STORE_TBL
		<where>
			<if test="region1.toString() == '서울'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '대전'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '대구'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '광주'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '부산'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '강원'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
	AND STORE_STATUS = 'Y'
		</where>
	</select>
	<select id="selectSortedList" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL LEFT JOIN STORE_IMAGE_TBL ON STORE_NO = REF_STORE_NO
		<where>
			<if test="region1.toString() == '서울'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '대전'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '대구'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '광주'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '부산'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
			<if test="region1.toString() == '강원'">STORE_ADDR LIKE '%'||#{region1}||'%' OR STORE_ADDR LIKE '%'||#{region2}||'%'</if>
	AND STORE_STATUS = 'Y' ORDER BY STORE_NO DESC
		</where>
	</select>
</mapper>