<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
	<resultMap type="Store" id="storeResultMap">
		<id property="storeNo" column="STORE_NO"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="storeZipCode" column="STORE_ZIPCODE"/>
		<result property="storeAddr" column="STORE_ADDR"/>
		<result property="storeAddrDetail" column="STORE_ADDR_DETAIL"/>
		<result property="storeCeo" column="STORE_CEO"/>
		<result property="storeTel" column="STORE_TEL"/>
		<result property="storeUrl" column="STORE_URL"/>
		<result property="storeAccount" column="STORE_ACCOUNT"/>
		<result property="storeFilename" column="STORE_FILENAME"/>
		<result property="storeFileRename" column="STORE_FILERENAME"/>
		<result property="storeFilepath" column="STORE_FILEPATH"/>
		<result property="storeStatus" column="STORE_STATUS"/>
		<result property="storeBank" column="STORE_BANK"/>
		<result property="storeUpdateDate" column="STORE_UPDATE_DATE"/>
	</resultMap>
	<insert id="insertStore">
	INSERT INTO STORE_TBL VALUES(SEQ_STORE_NO.NEXTVAL,#{storeName},#{storeZipCode},#{storeAddr},
	#{storeAddrDetail},#{storeCeo},#{storeTel},#{storeUrl},#{storeAccount},#{storeFilename},#{storeFileRename},#{storeFilepath},DEFAULT,#{storeBank},DEFAULT)
	</insert>
	<delete id="deleteStore">
	DELETE FROM STORE_TBL WHERE STORE_NO = #{storeNo}
	</delete>
	<update id="updateStore">
	UPDATE STORE_TBL SET STORE_NAME = #{storeName}, STORE_ZIPCODE = #{storeZipCode}, STORE_ADDR = #{storeAddr},
	STORE_ADDR_DETAIL = #{storeAddrDetail}, STORE_CEO = #{storeCeo}, STORE_TEL = #{storeTel}, STORE_URL = #{storeUrl},
	STORE_ACCOUNT = #{storeAccount}, STORE_FILENAME = #{storeFilename}, STORE_FILERENAME = #{storeFileRename}, STORE_FILEPATH = #{storeFilepath}, STORE_BANK =#{storeBank}, 
	STORE_UPDATE_DATE = DEFAULT WHERE STORE_NO = #{storeNo}
	</update>
	<select id="selectAllStore" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL WHERE STORE_STATUS = 'Y' ORDER BY STORE_NO DESC
	</select>
	<select id="selectStoreByNo" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL WHERE STORE_NO = #{storeNo} AND STORE_STATUS = 'Y'
	</select>
	<select id="selectTotalCount" resultType="_int">
	SELECT COUNT(*) FROM STORE_TBL
		<where>
			<if test="searchCondition.toString() == 'all'"></if>
			<if test="searchCondition.toString() == 'name'">STORE_NAME LIKE '%'||#{storeName}||'%'</if>
			<if test="searchCondition.toString() == 'region'">STORE_ADDR LIKE '%'||#{storeAddr}||'%'</if>
	AND STORE_STATUS = 'Y'
		</where>
	</select>
	<select id="selectSearchedList" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL
		<where>
			<if test="searchCondition.toString() == 'all'"></if>
			<if test="searchCondition.toString() == 'name'">STORE_NAME LIKE '%'||#{storeName}||'%'</if>
			<if test="searchCondition.toString() == 'region'">STORE_ADDR LIKE '%'||#{storeAddr}||'%'</if>
	AND STORE_STATUS = 'Y'
		</where>
	</select>
</mapper>