<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StoreMapper">
	<resultMap type="Store" id="storeResultMap">
		<id property="storeNo" column="STORE_NO"/>
		<result property="storeName" column="STORE_NAME"/>
		<result property="storeZipCode" column="STORE_ZIPCODE"/>
		<result property="storeAddr" column="STORE_ADDR"/>
		<result property="storeAddrDetail" column="STORE_ADDR_DETAIL"/>
		<result property="storeCeo" column="STORE_CEO"/>
		<result property="storeTel" column="STORE_TEL"/>
		<result property="storeUrl" column="STORE_URL"/>
		<result property="storeAccount" column="STORE_ACCOUNT"/>
		<result property="storeFilename" column="STORE_FILENAME"/>
		<result property="storeFileRename" column="STORE_FILERENAME"/>
		<result property="storeFilepath" column="STORE_FILEPATH"/>
		<result property="storeStatus" column="STORE_STATUS"/>
	</resultMap>
	<insert id="insertStore">
	INSERT INTO STORE_TBL VALUES(SEQ_STORE_NO.NEXTVAL,#{storeName},#{storeZipCode},#{storeAddr},#{storeAddrDetail},#{storeCeo},#{storeTel},#{storeUrl},#{storeAccount},#{storeFilename},DEFAULT)
	</insert>
	<delete id="deleteStore">
	DELETE FROM STORE_TBL WHERE STORE_NO = #{storeNo}
	</delete>
	<select id="selectAllStore" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL WHERE STORE_STATUS = 'Y' ORDER BY STORE_NO DESC
	</select>
	<select id="selectStoreByNo" resultMap="storeResultMap">
	SELECT * FROM STORE_TBL WHERE STORE_NO = #{storeNo} AND STORE_STATUS = 'Y'
	</select>
</mapper>