<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">
	<resultMap type="User" id="userResultMap">
		<id property="userId" column="USER_ID"/>
		<result property="userPwd" column="USER_PWD"/>
		<result property="userName" column="USER_NAME"/>
		<result property="userGender" column="USER_GENDER"/>
		<result property="userEmail" column="USER_EMAIL"/>
		<result property="userPhone" column="USER_PHONE"/>
		<result property="userZipCode" column="USER_ZIPCODE"/>
		<result property="addr" column="ADDR"/>
		<result property="addrDetail" column="ADDR_DETAIL"/>
	</resultMap>
	
	<insert id="insertUser" parameterType="User">
		INSERT INTO USER_TBL(USER_ID, USER_PWD, USER_NAME, USER_GENDER, USER_EMAIL, USER_PHONE, USER_ZIPCODE, ADDR, ADDR_DETAIL)
		VALUES(#{userId }, #{userPwd }, #{userName }, #{userGender }, #{userEmail }, #{userPhone }, #{userZipCode }, #{addr }, #{addrDetail })
	</insert>
	<update id="deleteUser" parameterType="string">
		UPDATE USER_TBL
		SET STATUS = 2
		WHERE USER_ID = #{userId}
	</update>
	<update id="updateUser" parameterType="User">
		UPDATE USER_TBL
		SET USER_PWD = #{userPwd}, USER_NAME = #{userName}, USER_GENDER=#{userGender}, USER_PHONE = #{userPhone}
		, USER_ZIPCODE = #{userZipCode}, ADDR = #{addr}, ADDR_DETAIL = #{addrDetail}
		WHERE USER_ID = #{userId}
	</update>
	<update id="keepLogin">
	    UPDATE USER_TBL
	    SET SESSION_KEY = #{sessionId}, SESSION_LIMIT = #{sessionLimit}
	    WHERE USER_ID = #{userId}
	</update>
	<update id="findPwd" parameterType="User">
		UPDATE USER_TBL
		SET USER_PWD = #{userPwd}
		WHERE USER_EMAIL = #{userEmail} AND USER_ID = #{userId} AND STATUS IN ('0', '1')
	</update>
	<select id="check" resultMap="userResultMap">
	    SELECT * FROM USER_TBL
	    WHERE SESSION_KEY = #{value}
	</select>
	<select id="login" resultMap="userResultMap">
		SELECT * FROM USER_TBL
		WHERE USER_ID = #{userId} AND STATUS IN ('0', '1')
	</select>
	<select id="selectOneById" resultMap="userResultMap">
		SELECT * FROM USER_TBL
		WHERE USER_ID = #{userId}
	</select>
	<select id="findId" resultMap="userResultMap">
		SELECT * FROM USER_TBL
		WHERE USER_EMAIL = #{userEmail} AND USER_NAME = #{userName} AND STATUS IN ('0', '1')
	</select>
	<select id="selectAllUser" resultMap="userResultMap">
		SELECT * FROM USER_TBL WHERE STATUS = '1'
	</select>
	<select id="selectTotalCount" resultType="_int">
		SELECT COUNT(*) FROM USER_TBL
		<where>
			<if test="searchCondition.toString() == 'id'">
				USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'name'">
				USER_NAME LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'email'">
				USER_EMAIL LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				USER_ID LIKE '%'||#{searchValue}||'%'
				OR USER_NAME LIKE '%'||#{searchValue}||'%'
				OR USER_EMAIL LIKE '%'||#{searchValue}||'%'
				OR USER_GENDER LIKE '%'||#{searchValue}||'%'
				OR USER_PHONE LIKE '%'||#{searchValue}||'%'
				OR USER_ZIPCODE LIKE '%'||#{searchValue}||'%'
				OR ADDR LIKE '%'||#{searchValue}||'%'
				OR ADDR_DETAIL LIKE '%'||#{searchValue}||'%'
			</if>
			AND STATUS = '1'
		</where>
	</select>
	<select id="selectAllByValue" resultMap="userResultMap">
		SELECT * FROM USER_TBL
		<where>
			<if test="searchCondition.toString() == 'id'">
				USER_ID LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'name'">
				USER_NAME LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'email'">
				USER_EMAIL LIKE '%'||#{searchValue}||'%'
			</if>
			<if test="searchCondition.toString() == 'all'">
				USER_ID LIKE '%'||#{searchValue}||'%'
				OR USER_NAME LIKE '%'||#{searchValue}||'%'
				OR USER_EMAIL LIKE '%'||#{searchValue}||'%'
				OR USER_GENDER LIKE '%'||#{searchValue}||'%'
				OR USER_PHONE LIKE '%'||#{searchValue}||'%'
				OR USER_ZIPCODE LIKE '%'||#{searchValue}||'%'
				OR ADDR LIKE '%'||#{searchValue}||'%'
				OR ADDR_DETAIL LIKE '%'||#{searchValue}||'%'
			</if>
			AND STATUS = '1'
		</where>
	</select>
</mapper>