<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="FaqMapper">
 <resultMap type="Faq" id="faqResultMap">
  	<id property="faqNo" 				column="FAQ_NUMBER"/>
  	<result property="faqWriter" 		column="USER_ID"/>
  	<result property="faqTitle" 	column="FAQ_TITLE"/>
  	<result property="faqContent" 		column="FAQ_CONTENT"/>
  	<result property="faqCreateDate" 	column="FAQ_CREATEDATE"/>
  	<result property="faqUpdateDate" column="FAQ_UPDATEDATE"/>
  	<result property="faqFilename" 	column="FAQ_FILENAME"/>
  	<result property="faqFileRename" 		column="FAQ_FILERENAME"/>
  	<result property="faqFilepath" 		column="FAQ_FILEPATH"/>
  	<result property="faqViewCount" 		column="FAQ_VIEWCOUNT"/>
  </resultMap>

 <select id="selectAllFaq" resultMap="faqResultMap">
  SELECT * FROM FAQ_TBL ORDER BY FAQ_NUMBER
   </select>

<select id="selectTotalCount" resultType="_int">
SELECT COUNT(*) FROM FAQ_TBL
</select>

<insert id="insertFaq">
INSERT INTO FAQ_TBL VALUES(
SEQ_FAQNO.NEXTVAL, #{faqWriter}, #{faqTitle}, #{faqContent}, #{faqCreateDate},
#{faqUpdateDate}, #{faqFilename}, #{faqFileRename}, #{faqFilepath}, #{faqViewCount}
</insert>


</mapper>